<div id="home">
  <div class="container col-md-10">
    <div class="row">
      <div class="col-md-12">
        <section id="services" class="section">
          <div class="container col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="wow fadeInDown" data-wow-delay="0.2s col-md-12 justify-content-left">
                  {{!-- <div class="col-md-1 icon">
                    <i class="lnr lnr-user"></i>
                  </div> --}}
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <h1><i class="lnr lnr-user title">  About Me:</i></h1>
                    </div>
                    <p>My name is Jeff Kounter. I am 32 yrs old with a Masters in Business administration focused in finance. I also hold a BBA with minors in management, accounting, and math, both from<a id="wsu" href="https://www.wichita.edu/"> Wichita State University. Go Shox!! </a>I currently work as a Loan Service Analyst for agricultural loans.</p>
                    <p>I began my development skills by using built in excel functions to automate processes at work and learn SQL via Access designing queries.</p>
                    <p>I have since learned all the basica languages required for full stack web development including: HTML5, CSS, Javascript, MYSQL, Node, Heroku, NPM, handlebars, and many others at the<a id="ku" href="https://bootcamp.ku.edu/coding/"> KU Coding Bootcamp </a>from which i will graduate in November 2018.</p>
                  </div>
                  
                </div>
              </div>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>