<div id="home">
  <div class="container col-md-10">
    <div class="row">
      <div class="col-md-12">
        <section id="services" class="section">
          <div class="container col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="wow fadeInDown" data-wow-delay="0.2s col-md-12 justify-content-left">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <h1><i class="lnr lnr-pointer-right title">  About Me:</i></h1>
                    </div>
                    <p>My name is Jeff Kounter. I hold a Masters in Business administration focused in finance. I also hold a Bachelors in Business Administration with minors in management, accounting, and math, both from<a id="wsu" href="https://www.wichita.edu/" target="_blank"> Wichita State University. Go Shox!! </a>I currently work as a Loan Service Analyst for<a id="pnc" href="https://www.pnc.com/en/personal-banking.html" target="_blank"> PNC Bank </a>handling agricultural loans.</p>
                    <p>I began my development skills by using built in excel functions to automate processes at work and learned SQL via Access designing queries.</p>
                    <p>I have since developed skills in all the languages required for full stack web development including: HTML5, CSS, Javascript, MYSQL, Node, Heroku, NPM, handlebars, and many others at the<a id="ku" href="https://bootcamp.ku.edu/coding/" target="_blank"> KU Coding Bootcamp </a>from which I will graduate in November 2018.</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>