<section id="contact" class="section col-md-8 offset-md-2">
  <div class="container col-md-12">
    <div class="row justify-content-md-center">
      <div class="col-md-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name" required data-error="Please enter the project name">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="link" name="link" placeholder="Link" required data-error="Please enter the Link">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="alt" name="alt" placeholder="Alt" required data-error="Please enter the Img Alt">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="title" name="title" placeholder="Title" required data-error="Please enter the Title">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="img" name="Img" placeholder="Img Name" required data-error="Please enter your img name">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
                </div>
                <div class="row col-md-12 justify-content-center">
                  <div class="submit-button text-center">
                    <button class="btn btn-common" id="submit" type="submit">Submit New Project</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/reservation.js"></script>